.weather-section{
  max-width: 670px;
  width: 100%;
}

.map-section {
  height: auto;
  width: auto;
}


@media (max-width: 1130px) {

  .map-section {
    margin-top: 30px;
    text-align: center;
  }
}


@media (max-width: 767px) {

  .weather-section {
    text-align: center;
  }
}

