* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #2d303a;
}

.success, .failure {
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 50%;
  height: 100vh;
  background-color: #ffffff;
}

.success {
  background-image: url(/src/assets/img/success.jpg);
}

.failure {
  background-image: url(/src/assets/img/failure.jpg);
}

@media (max-width: 767px) {
  .success, .failure {
    background-size: 75%;
  }
}
.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 70px;
  z-index: 10;
  background-color: #2d303a;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33px;
  height: 25px;
  z-index: 25;
  cursor: pointer;
  transition: 0.3s linear;
}

.burger-button-rotate {
  transform: rotate(90deg);
}

.burger-button-rotate .burger-line {
  transition: 0.3s linear;
}
.burger-button-rotate .burger-line:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
}
.burger-button-rotate .burger-line:nth-child(2) {
  display: none;
}
.burger-button-rotate .burger-line:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}

.burger-line {
  width: 33px;
  height: 3px;
  background-color: #ffffff;
}

.burger-overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  z-index: 15;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 325px;
  margin-left: 70px;
  margin-top: 240px;
}

.selected-group {
  font-size: 25px;
  color: #ffffff;
}

.navigation-item {
  font-size: 25px;
  list-style-type: none;
  color: #ffffff;
  cursor: pointer;
}
.navigation-item a {
  display: block;
}

.navigation-active {
  color: #f06c64;
}

.navigation-item:hover {
  text-decoration: underline;
}

.header-navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #2D303A;
  z-index: 20;
}

@media (max-width: 374px) {
  .navigation {
    margin-left: 70px;
    margin-top: 180px;
  }
}
.visibility {
  display: block;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1399px) {
  .main-wrapper {
    padding: 0 20px;
  }
}
label {
  text-align: center;
  font-size: 20px;
  display: block;
  left: 0px;
  top: 0;
  position: relative;
  width: 120px;
  height: 40px;
  z-index: 10;
  line-height: 40px;
  font-weight: bold;
  background-color: #FFA973;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}
label:after {
  content: "";
  width: 50px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  background-color: #f06c64;
  transition: all 0.6s;
}
label:before {
  content: "Play";
  width: 70px;
  height: 40px;
  position: absolute;
  left: 50px;
  top: 0px;
  display: block;
  transition: all 1s 0s ease;
  color: #BF6731;
}

:checked + label {
  background-color: #37D9B5;
}

:checked + label:before {
  content: "Train";
  left: 0;
  color: #228670;
}

#checkbox {
  display: none;
}

:checked + label {
  left: 0;
}

:checked + label:after {
  left: 70px;
}

.button-play {
  padding: 0 25px;
  font-size: 24px;
  margin: 20px auto;
  width: 100%;
  max-width: 650px;
  height: 65px;
  background-color: #FFA973;
  border-radius: 10px;
  outline: 0;
  transition: 0.2s;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: #BF6731;
}

@media (max-width: 699px) {
  .button-play {
    max-width: 300px;
  }
}
.repeat {
  width: 65px;
  font-size: 0;
  background-image: url(/src/assets/img/repeat.svg);
  background-repeat: no-repeat;
  background-size: 32px 32px, cover;
  background-position: 50%;
}

.main-card {
  width: 300px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0 8px 8px 0 rgba(82, 71, 71, 0.25);
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 20px 25px;
  cursor: pointer;
  transition: 0.6s;
  background-color: #37D9B5;
  color: #ffffff;
}

.main-card-play {
  background-color: #FFA973;
}

.main-card img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  object-fit: cover;
  margin: 25px auto;
}

.card-container {
  perspective: 2000px;
  margin: 20px 25px;
}

.translate-card {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.7s;
  transform-style: preserve-3d;
  position: relative;
  width: 300px;
  height: 250px;
  cursor: pointer;
  box-shadow: 8px 12px 6px #6c6a6a;
}

.flipper-play {
  height: 200px;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.front {
  background-color: #37D9B5;
}

.back {
  transform: rotateY(180deg);
  background-color: #37D9B5;
}

.card-caption {
  margin-bottom: 10px;
  color: #228670;
  font-size: 24px;
}

.rotate {
  position: absolute;
  width: 50px;
  height: 40px;
  background-image: url(/src/assets/img/rotate.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 5px;
  right: 5px;
  transition: 0.3s;
  z-index: 3;
  cursor: pointer;
}
.rotate:hover {
  opacity: 0.5;
}

.completed-card {
  opacity: 0.2;
}

@media (max-width: 374px) {
  .main-card {
    margin: 20px 0;
  }

  .card-container {
    margin: 20px 0;
  }
}
.hidden {
  display: none;
}

.star-line {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1350px;
  margin: 10px auto -10px;
  height: 40px;
  overflow: hidden;
}

.finish-line {
  justify-content: center;
  align-items: flex-end;
  color: #BF6731;
  font-size: 25px;
}

.star-correct, .star-error {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.star-correct {
  background-image: url(/src/assets/img/star-success.svg);
}

.star-error {
  background-image: url(/src/assets/img/star-error.svg);
}

/*# sourceMappingURL=style.css.map */
