$checkbox-width: 120px;
$switcher-width: 50px;

label {
  text-align: center;
  font-size: 20px;
  display: block;
  left: 0px;
  top: 0;
  position: relative;
  width: $checkbox-width;
  height: 40px;
  z-index: 10;
  line-height: 40px;
  font-weight: bold;
  background-color: $color-play;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}

:checked + label {
  background-color: $color-train;
}

label:after {
  content: "";
  width: $switcher-width;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  background-color: $color-active;
  transition: all 0.6s;
  cursor: pointer;
}

label:before {
  content: "Play";
  width: ($checkbox-width - $switcher-width);
  height: 40px;
  position: absolute;
  left: $switcher-width;
  top: 0px;
  display: block;
  transition: all 1s 0s ease;
  cursor: pointer;
  color: $color-play-text;
}

:checked + label:before {
  content: "Train";
  left: 0;
  color: $color-train-text;
}

#checkbox {
  display: none;
}

:checked + label {
  left: 0px;
}

:checked + label:after {
  left: ($checkbox-width - $switcher-width);
}

.button-play {
  padding: 0 25px;
  font-size: 24px;
  margin: 20px auto;
  width: 100%;
  max-width: 650px;
  height: 65px;
  background-color: $color-play;
  border-radius: 10px;
  outline: 0;
  transition: 0.2s;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: #BF6731;
}

@media (max-width: 699px) {
  .button-play {
    max-width: 300px;
  }
}

.repeat {
  width: 65px;
  font-size: 0;
  background-image: url(/src/assets/img/repeat.svg);
  background-repeat: no-repeat;
  background-size: 32px 32px,cover;
  background-position: 50%;
}
